{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ category|capitalize }}{% endblock %}

{% block content %}
<h1 class="tituloPagina">Testimonios</h1>

<div>
  <ul>
    {% for article in articles %}
    {% if category == "testimonios" %}
    <div class = "testimonio">
      <a href="{{ SITEURL }}/{{ article.url }}"><img class="testimonioImagen" src="{{ SITEURL }}/images/{{ article.galleryimage }}"></a>
      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
    </div>
    {% endif %}
    {% endfor %}
    </ul>
</div>

{% endblock %}
